<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div>
    <div class="container">
      <h1>Problema</h1>
      <form [formGroup]="form" (submit)="aceptar()">

        <mat-form-field class="example-full-width">
          <mat-label>IdProblema</mat-label>
          <input matInput placeholder="Id" formControlName="idProblema">
        </mat-form-field>

      <br>

        <mat-form-field appearance="fill">
          <mat-label>idSoporte</mat-label>
          <mat-select formControlName="soportetecnico" [(value)]="idSoportetecnicoSeleccionado" required>
          <mat-option *ngFor="let s of listaSoporte" [value]="s.idSoporte">
            {{s.NombreSoporte}}
          </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>idApoderado</mat-label>
          <mat-select formControlName="apoderado" [(value)]="idApoderadoSeleccionado" required>
            <mat-option *ngFor="let a of listaApoderado" [value]="a.idApoderado">
              {{a.Nombre}}
          </mat-option>
          </mat-select>
</mat-form-field>
<br>
<mat-form-field class="example-full-width">
<mat-label>Titulo</mat-label>
<input matInput required placeholder="titulo" formControlName="Titulo">
</mat-form-field>

<br>

<mat-form-field class="example-full-width">
<mat-label>Descripcion</mat-label>
<input matInput required placeholder="Descripcion" formControlName="Descripcion">
</mat-form-field>

<br>
<mat-form-field appearance="fill">
<mat-label>Fecha Inicio </mat-label>
<input matInput [matDatepicker]="picker" formControlName="FechaInicio" [max]="maxFecha">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<br>

<mat-form-field appearance="fill">
<mat-label>Fecha Fin </mat-label>
<input matInput [matDatepicker]="picker" formControlName="FechaFin" [max]="maxFecha">
<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
<mat-datepicker #picker></mat-datepicker>
</mat-form-field>

  <br>
      <br>
        <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>

        <button mat-raised-button color="warn" routerLink="/pets">Cancelar</button>
      <p>{{mensaje}}</p>
      </form>
    </div>
  </div>
</body>
</html>
